# Auto detect text files and perform LF normalization
* text=auto

<img src="https://pbs.twimg.com/media/ESAfrYMVUAAuRx5?format=jpg&name=orig">

![](http://5b0988e595225.cdn.sohucs.com/images/20181013/3be2bfd8e71d4cd6ba5bdba5d65d5b6c.gif)
